.auth__form {
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
    border: 1px solid black;
    background: coral;
}

.login__btn {
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
}

.inputt {
    min-height: 50px;
    min-width: 400px;
    border-radius: 10px;
}

.duy__btn {
    min-height: 30px;
    min-width: 100px;
    border-radius: 7px;
}

.auth__form p {
    margin-top: 30px;
}

.auth__form p a {
    color: rgba(255, 255, 255, 0.735);
}

.auth__form input[type='file'] {
    color: #fff;
}